@page
@model WebApplication___Week_5.Pages.SecureAreaModel
@{
}
We are in the secure area.
<br />
<h2>Identity User:   @Model.userName</h2>
<h2>Registered User: @Model.registeredUser.Email</h2>
<h2>Registered User: @Model.registeredUser.FirstName @Model.registeredUser.LastName</h2>
